venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
*.db
*.sublime-workspace
*.sublime-project
*.swp
*.bak
*.orig
*.tmp
*.log         
*.DS_Store
*.vscode
*.idea
*.iml
*.vscode-test
.venv